<!DOCTYPE html>
<html>

{% include /head.html %}

<body id="top">

    {% include /header.html %}

    <!-- Banner -->
    <div class="slide">
        <ul class="slideUl">
            <li class="slideLi">
                <section class="banner" id="banner1">
                    <div class="inner">
                        <h2>Daily Town</h2>
                        <p>A free casual game by <a href="http://github.com/jeonse3875">SEKE</a></p>
                        <ul class="actions">
                            <li><a href="#content" class="button big special">Download</a></li>
                            <li><a href="#elements" class="button big alt">Learn More</a></li>
                        </ul>
                    </div>
                </section>
            </li>
            <li class="slideLi">
                <section class="banner" id="banner2">
                    <div class="inner">
                        <h2>Indian Poker</h2>
                        <p>A time-killing card game by <a href="http://github.com/jeonse3875">SEKE</a></p>
                        <ul class="actions">
                            <li><a href="#content" class="button big special">Download</a></li>
                            <li><a href="#elements" class="button big alt">Learn More</a></li>
                        </ul>
                    </div>
                </section>
            </li>
            <li class="slideLi">
                <section class="banner" id="banner3">
                    <div class="inner">
                        <h2>Daily Town</h2>
                        <p>A free casual game by <a href="http://github.com/jeonse3875">SEKE</a></p>
                        <ul class="actions">
                            <li><a href="#content" class="button big special">Download</a></li>
                            <li><a href="#elements" class="button big alt">Learn More</a></li>
                        </ul>
                    </div>
                </section>
            </li>
            <li class="slideLi">
                <section class="banner" id="banner4">
                    <div class="inner">
                        <h2>Indian Poker</h2>
                        <p>A time-killing card game by <a href="http://github.com/jeonse3875">SEKE</a></p>
                        <ul class="actions">
                            <li><a href="#content" class="button big special">Download</a></li>
                            <li><a href="#elements" class="button big alt">Learn More</a></li>
                        </ul>
                    </div>
                </section>
            </li>
        </ul>
    </div>
    {{ content }}
    {% include /footer.html %}

</body>

</html>